
#home-bg{
    height: 100vh;
    background: url("/images/new_bg.jpg");
    background-size: cover;
    color:white;
    display: flex;
    justify-content: center;
}

header{
    position:fixed;
    top: 0px;
    width: 100%;
    background-color: beige;
    height: 50px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    box-shadow: 0px 8px 10px rgba(94, 94, 94, 0.156);
}



li{
    list-style: none;
    display: inline;
    margin: 0px 10px 0px 0px;
}

h1{
    color: black;
    font-size: 25px;
    font-family: 'Source Code Pro', monospace;
}

a{
    color:black;
    font-size: 1rem;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
}

ul{
    padding-left: 0px;
    margin: 0px;
}
.naikeDev{
    display: flex;
    align-items: center;
}
.nav-div{
    display: flex;
    align-items: center;
}
nav{
    width: 100%;
    text-align: end;
}

.row{
    background-color: beige;
    position: fixed;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    box-shadow: 0px 5px 10px rgba(208, 208, 201, 0.605);
}
.hero{
    display: flex;
    align-items: center;
}
#name_div {
    flex: 1
}
#name_div > h2{
    font-size: 10em;
    color: beige;
    font-family: "Fira Sana", sans-serif; 
}
#name_div > h3{
    font-size: 2em;
}
#name_div p {
    font-size: 1.3em;
    font-weight: 300;
}
#stack{
    display: flex;
    height: 30vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: beige;
}
#stack > img{
    width: 150px;
    height: 100px;
}
#about{
    background-color: #0c0d0d;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 100px  50px;
}

#about img {
    width: 100%;
    height: 100%;
}

 #myPfp{
    object-fit:cover;
    border-radius: 50%;
}

#details li,  #details p {
    color: beige;
}




#details {
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}



@media (width <= 1200px) {
    #home-bg{
        height: 100%;
        padding-bottom: 20px;
    }
   .hero{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 60px;
   }
   #name_div{
    width: 100%;
    flex: none;
   }
    #name_div > h2{
        font-size: 5em;
    }
    #name_div > h3{
        font-size: 2em;
    }
    #name_div > p {
        font-size: 1.3em;
        font-weight: 300;
    }
    #stack{
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        background-color: beige;
    }
    #stack > img{
        width: 80px;
        height:50px;
    }
    .hero img{
        height: 400px;
        width: 300px;
    }
    #about{
        background-color: #0c0d0d;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        padding: 100px  50px;
        justify-items: center;
    }
    #details {
        margin-top: 30px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #details ul {
        display: grid;
        row-gap: 10px;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
    }
    #proflePicBg{
        height: 200px;
        width: 200px;
    }
    
}


